{% extends 'base.html' %}
{% block title %}Головна{% endblock %}
{% block content %}
    <h1>Hello</h1>
<div class="row">

  {% for tender in tenders %}
    <div class="col-md-4 tender-card">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ tender.title[:50] }}{% if tender.title|length > 50 %}...{% endif %}</h5>
          <p class="card-text"><small class="text-muted">Дата: {{ tender.date_modified }}</small></p>
          <a href="" class="btn btn-primary">Деталі</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}