{% extends 'base.html' %}
{% block title %}Деталі тендеру{% endblock %}
{% block content %}
<div class="container my-4">
  <div class="row align-items-center mb-3">
    <div class="col">
      <h2>{{ tender.title }}</h2>
    </div>
    <div class="col-auto">
      {% if session.get('user_id') %}
         {% if subscribed %}
           <form action="{{ url_for('unsubscribe') }}" method="post">
             <input type="hidden" name="tender_id" value="{{ tender.id }}">
             <button type="submit" class="btn btn-danger">Відписатися</button>
           </form>
         {% else %}
           <form action="{{ url_for('subscribe') }}" method="post">
             <input type="hidden" name="tender_id" value="{{ tender.id }}">
             <button type="submit" class="btn btn-success">Підписатися / Лайкнути</button>
           </form>
         {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">Основна інформація</div>
    <div class="card-body">
      <p><strong>ID тендеру:</strong> {{ tender.id }}</p>
      <p><strong>Дата створення:</strong> {{ tender.date_created }}</p>
      <p><strong>Дата модифікації:</strong> {{ tender.date_modified }}</p>
        <p><strong>Статус:</strong> {{ tender.status }}</p>
        <p><strong>Сума:</strong> {{ tender.value_amount }}</p>
        <p><strong>Валюта:</strong> {{ tender.value_currency }}</p>
        <p><strong>ПДВ включено:</strong> {% if tender.value_vatIncluded %}Так{% else %}Ні{% endif %}</p>


    </div>
  </div>


  <div class="card mb-4">
    <div class="card-header">Нагороди</div>
    <div class="card-body">
      {% if tender.awards %}
        <ul class="list-group">
          {% for award in tender.awards %}
            <p><strong>Статус:</strong> {{ award.status }}</p>
            <p><strong>Заголовок:</strong> {{ award.title }}</p>
            <p><strong>Сума:</strong> {{ award.value_amount }}</p>
            <p><strong>Дата присудження:</strong> {{ award.award_date }}</p>
            <p><strong>Початок періоду оскарження:</strong> {{ award.complaint_period_start_date }}</p>
            <p><strong>Кінець періоду оскарження:</strong> {{ award.complaint_period_end_date }}</p>

          {% endfor %}
        </ul>
      {% else %}
        <p>Немає нагород</p>
      {% endif %}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">Документи</div>
    <div class="card-body">
      {% if tender.documents %}
        <ul class="list-group">
          {% for doc in tender_documents %}
            <li class="list-group-item">
              <p><strong>Документ належить до:</strong> {{ doc.document_of }}</p>
              <p><strong>Назва:</strong> {{ doc.title }}</p>
              <p><strong>Хеш:</strong> {{ doc.hash }}</p>
              <p><strong>Формат:</strong> {{ doc.format }}</p>
              <p><strong>Дата публікації:</strong> {{ doc.date_published }}</p>
              <p><strong>Дата зміни:</strong> {{ doc.date_modified }}</p>
              <p><a href="{{ doc.url }}" target="_blank">Переглянути документ</a></p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Немає документів</p>
      {% endif %}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">Пропозиції</div>
    <div class="card-body">
      {% if tender.bids %}
        <ul class="list-group">
          {% for bid in tender.bids %}
            <li class="list-group-item">
              <p><strong>Дата подання:</strong> {{ bid.date }}</p>
                <p><strong>Статус:</strong> {{ bid.status }}</p>
                <p><strong>Ціна:</strong> {{ bid.value_amount }}</p>
                <p><strong>Ім'я учасника:</strong> {{ bid.tenderer_legal_name }}</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Немає пропозицій</p>
      {% endif %}
    </div>
  </div>


{% if tender.complaints %}
  <div class="card mb-4">
    <div class="card-header">Скарги з результатами аналізу</div>
    <div class="card-body">
      {% for comp in tender.complaints %}
        <div class="mb-3">
          <p><strong>Заголовок:</strong> {{ comp.title }}</p>
          <p><strong>Опис:</strong></p>
        <p>
            {{ process_complaint_text(comp.description,
            comp.highlighted_keywords, keyword_field_map) }}
        </p>

        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}


  <div class="card mb-4">
    <div class="card-header">Зміни в об'єктах тендеру</div>
    <div class="card-body">
      {% set has_entity_changes = false %}
      {% for entity_type, changes_dict in report_data.entity_changes.items() %}
        {% if changes_dict %}
          {% set has_entity_changes = true %}
          <h5>{{ entity_type.capitalize() | e }} Зміни</h5>
          {% for entity_id, change_data in changes_dict.items() %}
            <div class='entity-block'>
              <h6>Об'єкт: {{ change_data.info | e }}</h6>
              {% if change_data.changes %}
                <ul>
                  {% for change in change_data.changes %}
                    <li class='change-item'>{{ format_entity_change(change, entity_type) | e }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p>Не відслідковано змін для даного об'єкту.</p>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% if not has_entity_changes %}
        <p>Немає відслідкованих змін.</p>
      {% endif %}
    </div>
  </div>
</div>

</div>
{% endblock %}
